{% extends 'base.html'%}

{% block content %}
    <ul>
        {%  for meeting in meetings %}
            <li>
                Meeting number: {{ meeting.pk }}
                Meeting date: {{ meeting.date }}
                Responsible for the meeting: {{ meeting.organizer }} <br>
                Expected visitors: {{ meeting.visitors.all}} <br>
                Meeting room: {{ meeting.meeting_room}} <br>
                Notes: {{ meeting.note }}<br>
                <a href="/delete_meeting/{{ meeting.pk }}/"> Cancel this meeting </a> <br>
                <a href="/update_meeting/{{ meeting.pk }}/" > Update meeting information</a> <br>
                <a href="/visitors_list/"> Want to learn more about your visitors? Click here </a>
            </li>
                 {% endfor %}
    </ul>

{%  endblock %}
