{% extends 'base.html'%}

{% block form %}
    <div class="mb-3 mt-3 form-control">
    <form action="" method="GET">
    Search visitor by: <br>
    {{ form.as_p }}
        <input type="submit" value="Search Visitor">
    </form>
    </div>
{% endblock %}
{% block content %}
    <ul>
        {%  for visitor in visitor_list %}
            <li>
                Visitor name: {{ visitor.first_name }}
                Visitor surname: {{ visitor.surname }}
                Contact details: {{ visitor.contact_details }} <br>
                Company: {{ visitor.company }} <br>
                Last training date: {{ visitor.last_training_date}} <br>
                Comments:
                {% for comment in visitor.comment_set.all %}
                {{ comment }}
                {% endfor %}
                <a href="/update_visitor/{{visitor.pk}}"> Update information about visitor </a>
                <a href="/add_comment/{{visitor.pk}}"> Add a new comment </a> </li>
            </li>
                 {% endfor %}
    </ul>
{%  endblock %}