{% extends 'base.html'%}

{% block form %}
    <div class="mb-3 mt-3 form-control">
    <form action="" method="GET">
    Search visitor by: <br>
    {{ form.as_p }}
        <input type="submit" value="Search Visitor">
    </form>
    </div>
{% endblock %}
{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th> Name </th>
            <th> Surname </th>
            <th> Contact details </th>
            <th> Company </th>
            <th> Last training date </th>
            <th> Comments </th>
            <th> Useful links </th>
        </tr>
        </thead>
        <tbody>
        {%  for visitor in visitor_list %}
            <tr>
                <td> {{ visitor.first_name }} </td>
                <td> {{ visitor.surname }} </td>
                <td> {{ visitor.contact_details }} </td>
                <td> {{ visitor.company }} </td>
                <td> {{ visitor.last_training_date}} </td>
                <td>
                {% for comment in visitor.comment_set.all %}
                {{ comment }}
                {% empty %}
                There are no comments for this visitor.
                {% endfor %}
                </td>
                <td>
                <a href="/update_visitor/{{visitor.pk}}"> Update information about visitor </a> <br>
                <a href="/add_comment/{{visitor.pk}}"> Add a new comment </a> </li>
                </td>
            </tr>
                 {% endfor %}
        </tbody>
    </table>
{%  endblock %}