{% extends 'base.html'%}

{% block content %}
    <ul>
        {%  for visitor in visitors %}
            <li> {{ visitor }} <br> last training: {{visitor.last_training_date}}<br>
                 Comments: {% for comment in visitor.comment_set.all %}
                                {{ comment }}
                                    {% endfor %}<br>
                 <a href="/update_visitor/{{visitor.pk}}"> Update information about visitor </a>
                <a href="/add_comment/{{visitor.pk}}"> Add a new comment </a> </li>
                 {% endfor %}

    </ul>

{%  endblock %}